body{
    background-color: black;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: green;
}

#boxes{
    display: flex;
    padding: 20px;
    margin: auto;
    border: 2px;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 50px;
}   

.groupBox{
    width: 200px;
    height: 200px;
    background:linear-gradient(green, black);
    font-size: 25px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    border: 2px solid green;
    cursor: pointer;
    box-shadow: 10px;
}

.groupBox:hover{
    background:linear-gradient(blue, black);
}



